@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<p class="connected-information">
    @if (SignInManager.IsSignedIn(User))
    {
        if (Model.gameDb.Collection)
        {
            <a asp-action="AddRemoveGameCollection" asp-controller="Collection" asp-route-id="@Model.Id" class="logged-icon">
                <span class="glyphicon glyphicon-ok icon-pos" aria-hidden="true"></span>
                <s>Collection</s>
            </a>
        }
        else
        {
            <a asp-action="AddRemoveGameCollection" asp-controller="Collection" asp-route-id="@Model.Id" class="logged-icon">
                <span class="glyphicon glyphicon-folder-open icon-pos" aria-hidden="true"></span>
                Collection
            </a>

        }
        if (Model.gameDb.Wishlist)
        {
            <a asp-action="AddRemoveGameWishlist" asp-controller="Collection" asp-route-id="@Model.Id" class="logged-icon">
                <span class="glyphicon glyphicon-ok icon-pos" aria-hidden="true"></span>
                <s>Wishlist</s>
            </a>
        }
        else
        {
            <a asp-action="AddRemoveGameWishlist" asp-controller="Collection" asp-route-id="@Model.Id" class="logged-icon">
                <span class="glyphicon glyphicon-shopping-cart icon-pos" aria-hidden="true"></span>
                Wishlist
            </a>
        }
        if (Model.gameDb.Favorite)
        {
            <a asp-action="AddRemoveGameFavorites" asp-controller="Collection" asp-route-id="@Model.Id" class="logged-icon">
                <span class="glyphicon glyphicon-ok icon-pos" aria-hidden="true"></span>
                <s>Favorites</s>
            </a>
        }
        else
        {
            <a asp-action="AddRemoveGameFavorites" asp-controller="Collection" asp-route-id="@Model.Id" class="logged-icon">
                <span class="glyphicon glyphicon-heart icon-pos" aria-hidden="true"></span>
                Favorites
            </a>
        }
    }
    else
    {
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    <span class="info">Connect first to be able to add items</span>
    }
</p>