@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<p class="connected-information">
    @if (SignInManager.IsSignedIn(User))
    {
        if (Model.gameDb.Collection)
        {
            <a asp-action="RemoveGameCollection" asp-controller="Collection" asp-route-id="@Model.Id" class="logged-icon">
                <span class="glyphicon glyphicon-ok icon-pos" aria-hidden="true"></span>
                Remove game from collection
            </a>
        }
        else
        {
            <a asp-action="AddGameCollection" asp-controller="Collection" asp-route-id="@Model.Id" class="logged-icon">
                <span class="glyphicon glyphicon-folder-open icon-pos" aria-hidden="true"></span>
                Add game to collection
            </a>

        }
        if (Model.gameDb.Wishlist)
        {
            <a asp-action="RemoveGameWishlist" asp-controller="Collection" asp-route-id="@Model.Id" class="logged-icon">
                <span class="glyphicon glyphicon-ok icon-pos" aria-hidden="true"></span>
                Remove game from Wishlist
            </a>
        }
        else
        {
            <a asp-action="AddGameWishlist" asp-controller="Collection" asp-route-id="@Model.Id" class="logged-icon">
                <span class="glyphicon glyphicon-shopping-cart icon-pos" aria-hidden="true"></span>
                Add game to Wishlist
            </a>
        }
        if (Model.gameDb.Favorite)
        {
            <a asp-action="RemoveGameFavorites" asp-controller="Collection" asp-route-id="@Model.Id" class="logged-icon">
                <span class="glyphicon glyphicon-ok icon-pos" aria-hidden="true"></span>
                Remove game from Favorites
            </a>
        }
        else
        {
            <a asp-action="AddGameFavorites" asp-controller="Collection" asp-route-id="@Model.Id" class="logged-icon">
                <span class="glyphicon glyphicon-heart icon-pos" aria-hidden="true"></span>
                Add game to Favorites
            </a>
        }
    }
    else
    {
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    <span class="info">Connect first to be able to add items</span>
    }
</p>