@model List<CollectionManager.Models.Collection.Game>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Games";
}

<h2>Games</h2>
<div class="container-fluid">
    @for (var i = 0; i < Model.Count; i+=2)
    {
        <!-- @Html.Raw(i % 2 == 0 ? "<div class='row'>": "") -->
        <div class="row">
            <div class="poster col-md-3 col">
                <p>
                    <a asp-action="Games" asp-controller="Collection" asp-route-id="@Model[i].Id">
                        <img style="width:50%;" src="@Model[i].Poster" />
                    </a>
                </p>
                @await Html.PartialAsync("_AddCollectionHelper")
            </div>
            <div class="information col-md-3 col">
                <p class="title">@Model[i].Title</p>
                <p class="release-date">
                    @foreach (var k in Model[i].ReleaseDate.Keys)
                    {
                        @: @k -  @Model[i].ReleaseDate[k].ToString("d")
                        }
                </p>
                <p class="summary">Description: @Model[i].Storyline</p>

                @*<p class="publishers">
                    Publishers:
                    @foreach (var p in Model[i].Publishers)
                    {
                        @: @p
                        }
                </p>*@
                @*<p class="developers">
                    Developers:
                    @foreach (var d in Model[i].Developers)
                    {
                        @: @d
                        }
                </p>
                <p class="genres">
                    Genres:
                    @foreach (var g in Model[i].Genres)
                    {
                        @: @g
                        }
                </p>
                <p class="themes">
                    Themes:
                    @foreach (var t in Model[i].Themes)
                    {
                        @:  @t
                        }
                </p>*@
                <p class="keywords">
                    Keywords:
                    @foreach (var k in Model[i].Keywords)
                    {
                        @:  @k
                        }
                </p>
            </div>

            @if ((i+1) < Model.Count)
            {
            <div class="poster col-md-3 col">
                <p>
                    <a asp-action="Games" asp-controller="Collection" asp-route-id="@Model[i+1].Id">
                        <img style="width:50%;" src="@Model[i+1].Poster" />
                    </a>
                </p>
                <p class="connected-information">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (Model[i+1].gameDb.Collection)
                        {
                            <span class="glyphicon glyphicon-ok icon-pos" aria-hidden="true"></span>
                        }
                        else
                        {
                            <a asp-action="AddGameCollection" asp-controller="Collection" asp-route-id="@Model[i+1].Id">
                                <span class="glyphicon glyphicon-folder-open icon-pos" aria-hidden="true"></span>
                            </a>

                        }
                        @if (Model[i+1].gameDb.Wishlist)
                        {
                            <span class="glyphicon glyphicon-ok icon-pos" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-shopping-cart icon-pos" aria-hidden="true"></span>

                        }
                        @if (Model[i + 1].gameDb.Favorite)
                        {
                            <span class="glyphicon glyphicon-ok icon-pos" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-heart icon-pos" aria-hidden="true"></span>
                        }
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        <span class="info">Connect first to be able to add items</span>
                    }
                </p>

            </div>
            <div class="information col-md-3 col">
                <p class="title">@Model[i + 1].Title</p>
                <p class="release-date">
                    @foreach (var k in Model[i + 1].ReleaseDate.Keys)
                    {
                        @: @k -  @Model[i + 1].ReleaseDate[k].ToString("d")
                        }
                </p>
                <p class="summary">Description: @Model[i + 1].Storyline</p>
                <p class="keywords">
                    Keywords:
                    @foreach (var k in Model[i + 1].Keywords)
                    {
                        @:  @k
                        }
                </p>
            </div>
            }
            <!-- @Html.Raw(i % 2 == 0 ? "</div>" : "") -->
        </div>
}
</div>