@model CollectionManager.Models.Collection.Game
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Games";
}

<h1>@Model.Title</h1>
<div class="container-fluid">
    <div class="row">
        <div class="poster-detail col-md-6">
            <img src="@Model.Poster" />
        </div>
        <div class="information-detail col-md-6">
            @*<p class="title">@Model.Title</p>*@
            <p class="release-date">
                @foreach (var k in Model.ReleaseDate.Keys)
                {
                    @: @k -  @Model.ReleaseDate[k].ToString("d")
                        }
            </p>
            <p class="description">Description: @Model.Description</p>

            <p class="publishers">
                Publishers:
                @foreach (var p in Model.Publishers)
                {
                    @: @p
                        }
            </p>
            <p class="developers">
                Developers:
                @foreach (var d in Model.Developers)
                {
                    @: @d
                        }
            </p>
            <p class="genres">
                Genres:
                @foreach (var g in Model.Genres)
                {
                    @: @g
                        }
            </p>
            <p class="themes">
                Themes:
                @foreach (var t in Model.Themes)
                {
                    @:  @t
                        }
            </p>
            <p class="keywords">
                Keywords:
                @foreach (var k in Model.Keywords)
                {
                    @:  @k
                        }
            </p>
            @await Html.PartialAsync("_AddCollectionHelper")

        </div>
    </div>
    <div class="row">
            <div class="media">
                <h3>Screenshots</h3>
                <p class="pictures">
                    @foreach (var p in Model.Pictures)
                    {
                        <img src="@p" />
                    }
                </p>
                <h3>Videos</h3>
                <p class="videos">
                    @foreach (var v in Model.Videos)
                    {
                        <iframe width="420" height="315" src="@v"></iframe>
                    }
                </p>
            </div>
        </div>
</div>